# vscode 请安装插件：CTRL+SHIFT+X 搜索 EditorConfig 并安装

# http://editorconfig.org

root = true

 

[*]

charset = utf-8

indent_style = space

indent_size = 2

end_of_line = lf

insert_final_newline = true

trim_trailing_whitespace = true

 

[*.md]

insert_final_newline = false

trim_trailing_whitespace = false
————————————————

                            注意：本文发表距今已超过，某些数据、描述可能已经过时。出处http://blog.zollty.com，转载请注明。
                        
原文链接：https://blog.csdn.net/zollty/article/details/111314925